<div class="flex min-w-min my-20">
  <div
    class="w-48 lg:h-auto lg:w-48 flex flex-col flex-shrink-0 justify-center bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden bg-gray-200 border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400"
  >
    <p class="text-sm underline">Client</p>
    <h2 class="font-bold text-2xl">Confidential</h2>
    <p class="text-sm">Bangalore, India</p>
    <p class="text-sm">2019-2021 (2 Years)</p>
  </div>
  <div
    class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
  >
    <div class="mb-8">
      <div class="text-gray-900 font-bold text-xl mb-2">
        Working as an UI Architect in Bengaluru, India
      </div>
      <div class="text-gray-700 text-base">
        <ul>
          <li>
            - Working on major platform transformation project includes platform
            modernization to cloud (GCP,Anthos,Google Analytics, Google Big
            Query, Google functions, Google Tag Manager, Zeotap etc)
          </li>
          <li>
            - New frontend architecture using Angular, Angular elements,
            GraphQL, Storybooks, Cypress, Nx, Jest, Strapi Headless CMS,
            TypeScript
          </li>
        </ul>
      </div>
    </div>
    <div class="flex items-center">
      <img
        class="w-10 h-10 rounded-full mr-4"
        src="../../../../../assets/myphoto.jpg"
        alt="Avatar of Writer"
      />
      <div class="text-sm">
        <p class="text-gray-900 leading-none">
          <span class="font-bold">Ashok Kumar</span>, Permanent Employee of NTT
          Data.
        </p>
        <p class="text-gray-600">from: 2019</p>
      </div>
    </div>
  </div>
</div>

<div class="flex min-w-min">
  <div
    class="w-48 lg:h-auto lg:w-48 flex flex-col flex-shrink-0 justify-center bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden bg-gray-200 border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400"
  >
    <p class="text-sm underline">Client</p>
    <h2 class="font-bold text-2xl">Virgin Media</h2>
    <p class="text-sm">London, UK</p>
    <p class="text-sm">2014-2019 (5 Years)</p>
  </div>
  <div
    class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
  >
    <div class="mb-8">
      <div class="text-gray-900 font-bold text-xl mb-2">
        Worked as Frontend Lead in London, UK.
      </div>
      <div class="text-gray-700 text-base">
        <ul>
          <li>
            - Lead 3 development team (AB test and Tag Management, Cable Sales
            Platform, Mobile sales Platform)
          </li>
          <li>
            - Lead the team to create AB tests managing different tags using tag
            management tool like Tealium, Adobe Launch, Google Tag Manager.
            <br />
            - Identified issues and provided solutions for any tag management/ab
            test issues.
          </li>
          <li>
            - Worked on various modules for mobile/cable sales paltform using
            libraries like ReactJs, Angular, Web Components, NodeJs - ExpressJs,
            Adobe Experience Manager 6+, Java - Spring Boot, Analytics -
            Omniture, Tealium
          </li>
        </ul>
      </div>
    </div>
    <div class="flex items-center">
      <img
        class="w-10 h-10 rounded-full mr-4"
        src="../../../../../assets/myphoto.jpg"
        alt="Avatar of Writer"
      />
      <div class="text-sm">
        <p class="text-gray-900 leading-none">
          <span class="font-bold">Ashok Kumar</span>, Permanent Employee of
          Accenture Pvt. Ltd.
        </p>
        <p class="text-gray-600">from: 2010 to: 2019</p>
      </div>
    </div>
  </div>
</div>
