<section>
  <div class="bg-gray-800 text-white">
    <div
      class="container mx-auto flex flex-col items-start md:flex-row lg:my-12 md:my-24"
    >
      <div
        class="flex flex-col w-full sticky md:top-64 lg:w-6/12 mt-2 md:mt-12 px-8"
      >
        <div class="sm:mx-auto">
          <img
            class="flex-1 p-8 md:p-0 object-cover object-center sm:w-40 md:w-60"
            src="../assets/myphoto.jpg"
          />
        </div>
        <p class="ml-0 text-yellow-300 uppercase tracking-loose pt-5">
          Hi, This is Ashok Kumar
        </p>
        <p class="text-3xl md:text-2xl leading-normal md:leading-relaxed mb-2">
          A Fullstack JavaScript Engineer
        </p>
        <p class="text-sm md:text-base text-gray-50 mb-4 text-justify">
          A self-motivated, creative, and ambitious IT professional with deep
          knowledge and proficiency in JavaScript, HTML, CSS, NodeJs, Java and
          mobile responsive website development, as well as highly potent skills
          and ability in writing top quality and efficient code. Bringing 13+
          years experience of building, developing, and managing websites,
          applications and programs for various organizations.
        </p>
      </div>
      <div class="ml-0 md:ml-12 lg:w-6/12 sticky">
        <div class="container mx-auto w-full h-full">
          <div class="relative wrap overflow-hidden p-10 h-full">
            <h1
              class="text-6xl py-5 text-yellow-300 text-center"
              style="font-family: Tangerine"
            >
              Career Timeline
            </h1>
            <div
              class="border-2-2 border-yellow-555 absolute h-full border"
              style="right: 50%; border: 2px solid #ffc100; border-radius: 1%"
            ></div>
            <div
              class="border-2-2 border-yellow-555 absolute h-full border"
              style="left: 50%; border: 2px solid #ffc100; border-radius: 1%"
            ></div>
            <div
              class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline"
            >
              <div class="order-1 w-5/12"></div>
              <div class="order-1 w-5/12 px-1 py-4 text-right">
                <p class="mb-3 text-base text-yellow-300">Oct 2019 (current)</p>
                <h4 class="mb-3 font-bold text-lg md:text-2xl">
                  UI Architect / Lead
                </h4>
                <p class="mb-3 text-base text-yellow-300">
                  NTT DATA, Bangalore
                </p>
              </div>
            </div>
            <div
              class="mb-8 flex justify-between items-center w-full right-timeline"
            >
              <div class="order-1 w-5/12"></div>
              <div class="order-1 w-5/12 px-1 py-4 text-left">
                <p class="mb-3 text-base text-yellow-300">
                  Sep 2010 - Sep 2019
                </p>
                <h4 class="mb-3 font-bold text-lg md:text-2xl">Team Lead</h4>
                <p class="mb-3 text-base text-yellow-300">
                  Accenture Private Ltd <br />(6 years UK Onshore)
                </p>
              </div>
            </div>
            <div
              class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline"
            >
              <div class="order-1 w-5/12"></div>
              <div class="order-1 w-5/12 px-1 py-4 text-right">
                <p class="mb-3 text-base text-yellow-300">
                  Nov 2007 - Aug 2010
                </p>
                <h4 class="mb-3 font-bold text-lg md:text-2xl">
                  Software Engineer
                </h4>
                <p class="mb-3 text-base text-yellow-300">
                  Tata Consultancy Services, India
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
